{% extends "layout.html" %}

{% block titulo %}Agregar Carrito{% endblock %}

{% block body %}
{% include 'fragmentos/_nav.html' %}
{% include 'fragmentos/_alert.html' %}

<div class="container">
  <div class="row">
    <div class="col">

      <h3>Añadir al carrito</h3>  
      <h2>{{ producto.nombre_producto | capitalize }} ${{ producto.precio_venta }}</h2>
      {% for field, errors in form.errors.items() %}
      <div class="alert alert-danger">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
      {% endfor %}

      <form class="form-horizontal"  method="post">
        <div class="form-group">
          {{ form.csrf_token }}
          {{form.id()}}<br/>
          {{form.cantidad.label()}} {{form.cantidad(size="10", class="form-control")}}
          <br/>
          {{form.submit(class="btn btn-lg btn-primary btn-block")}}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}