{% extends "layout.html" %}

{% block titulo %}Carrito{% endblock %}

{% block body %}
{% include 'fragmentos/_nav.html' %}
{% include 'fragmentos/_alert.html' %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">

        <div class="card-header">
          <h3>Carrito</h3>
        </div>
        <div class="card-body">

          {% if total > 0 %}
            <table class="table table-bordered">
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Eliminar</th>
              </tr>
              {% for art in productos %}
              <tr>
                <td>{{ art.0.nombre_producto }}</td>
                <td>{{ art.2 }}</td>
                <td>${{ art.1 }}</td>
                <td>${{ art.1 * art.2 }}</td>
                <td><a class="btn btn-danger btn-sm" href="{{ url_for('carro.eliminar_producto',id=art.0.id) }}"><span class="glyphicon glyphicon-trash"></span>Borrar Pedido</a></td>
              </tr>
              {% endfor %}
            </table>
            {% endif %} 
        </div>
        <div class="card-footer">
          <a class="btn btn-success" href="{{url_for('market.productos')}}">Seguir Comprando</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h3>Gracias por comprar en nuestra tienda</h3>
        </div>
        <div class="card-body">
          <h4>Tienes que pagar: ${{ total }}</h4>
          <div class="card-footer">
            <a class="btn btn-primary" href="{{ url_for('market.productos') }}">Pagar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'fragmentos/_footer.html' %} 
{% endblock %}