<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('market.productos') }}">
        <h3>Food Truck "La Kuky"</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{ url_for('market.lista_productos') }}">Productos</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{ url_for('market.categoria') }}">Categorias</a>
        </div>
        {% endif %}
      </div>
      
          <!-- Right elements -->
    <ul class="navbar-nav flex-row">

      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="navbar-brand " href="{{ url_for('carro.carrito') }}"> Carrito <span class="badge">{{ num_productos }} </span></a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img
            src="{{ url_for('static',filename='img/user.png') }}"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong class="d-none d-sm-block ms-1">{{ current_user.nombre }}</strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="{{ url_for('auth.logout') }}">Cerrar Session</a>
      </li>
      {% else %}
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="{{ url_for('auth.login') }}">Login</a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="{{ url_for('auth.registrar') }}">Registrarse</a>
      </li>
      {% endif %}

    </div>
  </nav>