{% extends 'layout.html' %}

{% block titulo %}Index{% endblock %}


{% block body %}
{% include 'fragmentos/_nav.html' %}
<div class="container py-3">
    {% include 'fragmentos/_alert.html' %}
    <h1 class="text-center py-3">Todos Nuestros Productos</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for categoria in categorias %}
        <div class="col">
            
            <div class="card text-center">
                
                <div class="card-body">

                    {% set url = 'img/sanwich/' + categoria.categoria + '.jpg' %}

                    <img class="card-img-top" height="320" src="{{ url_for('static', filename=url) }}" class="card-img-top" alt="{{ categoria.categoria }}">
                    <h5 class="card-title">{{ categoria.categoria }}</h5>
                    <p class="card-text">Deliciosos Productos, escoge el tuyo...</p>

                    {% if current_user.nombre %}
                        <a href="{{ url_for('market.productos') }}" class="btn btn-primary">Acceder...</a>
                    {% endif %}


                </div>
                
            </div>
            
        </div>
        {% endfor %}
    </div>

</div>

{% include 'fragmentos/_footer.html' %}
{% endblock %}



