{% extends 'layout.html' %}

{% block titulo %}Actualizar Producto{% endblock %}

{% block body %}
{% include 'fragmentos/_nav.html' %}
<div class="container py-3">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include 'fragmentos/_alert.html' %}
            <h3>Agregar Categoria</h3>
            <form action="/market/actualizar_productos/{{ producto.id }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="text" name="nombre" value="{{ producto.nombre_producto }}">
                <br>
                <input class="mt-2" type="text" name="descripcion" value="{{ producto.descripcion }}">
                <br>
                <input class="mt-2" type="text" name="precio" value="{{ producto.precio_venta }}">
                <br>
                <select class="mt-2" name="categoria" id="categoria">
                    <option value="">Selecciona Categoria</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.categoria }}</option>
                    {% endfor %}
                </select>
                <br>
                <input class="btn btn-success mt-2" type="submit" value="Actualizar">
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}