{% extends 'layout.html' %}

{% block titulo %}Actualizar Categoria{% endblock %}

{% block body %}
{% include 'fragmentos/_nav.html' %}
<div class="container py-3">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% include 'fragmentos/_alert.html' %}
            <h3>Agregar Categoria</h3>
            <form action="/market/actualizar_categorias/{{ categoria.id }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="text" name="nombre" value="{{ categoria.categoria }}">
                <br>
                <input class="btn btn-success mt-2" type="submit" value="Actualizar">
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}