{% extends 'layout.html' %}

{% block titulo %}Categorias{% endblock %}

{% block body %}
{% include 'fragmentos/_nav.html' %}
<div class="container py-3">
    {% include 'fragmentos/_alert.html' %}
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="container py-3">
                <div class="row">
                    <div class="card p-2">
                        <div class="card-header">
                        <h3>Agregar Categoria</h3>
                        </div>
                        <form class="mt-2" action="{{ url_for('market.agregar_categorias') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="text" name="nombre" value="" placeholder="Ingresa Categoria">
                            <br>
                            <input class="btn btn-primary mt-2" type="submit" value="Guardar">
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for cat in categorias %}
                        <tr>
                            <td>{{ cat.id }}</td>
                            <td>{{ cat.categoria | capitalize }}</td>
                            <td>
                                <a href="{{ url_for('market.actualizar_categorias', id=cat.id) }}" class="btn btn-warning btn-sm">Actualizar</a>
                                <a href="{{ url_for('market.eliminar_categorias', id=cat.id) }}" class="btn btn-danger btn-sm btn_eliminacion">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
         
                    </tbody>
            </table>
        </div>
    </div>

</div>
{% include 'fragmentos/_footer.html' %}
{% endblock %}