{% extends 'layout.html' %}

{% block titulo %}Lista Productos{% endblock %}

{% block body %}
{% include 'fragmentos/_nav.html' %}
<div class="py-3">
    {% include 'fragmentos/_alert.html' %}
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="container py-3">
                <div class="row">
                    <div class="card p-2">
                        <div class="card-header">
                        <h3>Agregar Productos</h3>
                        </div>
                        <form class="form-control mt-2" action="{{ url_for('market.nuevo_producto') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="text" name="nombre" value="" placeholder="Ingresa Nombre Producto"> <br>
                            <input class="mt-2" type="text" name="descripcion" value="" placeholder="Ingresa Descripcion"> <br>
                            <input class="mt-2" type="number" name="precio" value="" placeholder="Ingresa Precio"> <br>

                            <select class="mt-2" name="categoria" id="categoria">
                                <option value="">Selecciona Categoria</option>
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}">{{ categoria.categoria }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <input class="btn btn-primary mt-2" type="submit" value="Guardar">
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <h3 class="text-center">Listado de Productos</h3>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto.nombre_producto }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>${{ producto.precio_venta }}</td>
                            <td>{{ producto.categoria_id }}</td>
                            <td>
                                <a href="{{ url_for('market.actualizar_productos', id=producto.id) }}" class="btn btn-warning btn-sm">Actualizar</a>
                                <a href="{{ url_for('market.eliminar_producto', id=producto.id) }}" class="btn btn-danger btn-sm btn_eliminacion">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
         
                    </tbody>
            </table>
        </div>
    </div>

</div>
{% include 'fragmentos/_footer.html' %}
{% endblock %}