{% extends 'layout.html' %} 

{% block titulo %}Ventas{% endblock %} 

{% block body
%} {% include 'fragmentos/_nav.html' %}
<h1 class="text-center py-3">Pedido:</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">

      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <h4>Categorias</h4>
        </div>
        <ul class="list-group list-group-flush">
          {% for cat in categorias %}
          {% if categoria.nombre == cat.nombre %}
          <li class="list-group-item"><a href="{{ url_for('market.productos', id=cat.id) }}">{{ cat.categoria }}</a></li>
          {% else %}
          <li class="list-group-item"><a href="{{ url_for('market.productos', id=cat.id) }}">{{ cat.categoria }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-10">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">
            Listado de Productos: {{ categoria.categoria | capitalize }}
          </h4>
        </div>
        <div class="card-body">
          <table
            class="table table-bordered table-hover table-stripped text-center"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Valor</th>
                <th>Opcion</th>
              </tr>
            </thead>
            <tbody>
              {% for prod in productos %}
              <tr class="table-active">
                <td>{{ loop.index }}</td>
                <td>{{ prod.nombre_producto }}</td>
                <td>{{ prod.descripcion }}</td>
                <td>${{ prod.precio_venta }}</td>
                <td>
                  <form method="post" action="/carrito/agregar_carrito/{{ prod.id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="id" value="{{ prod.id }}" />
                    <input type="submit" value="Compra" class="btn btn-success btn-sm"/>
                  </form>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'fragmentos/_footer.html' %} 
{% endblock %}
