{% extends 'layout.html' %}

{% block titulo %}404{% endblock %}

{% block body %}
    <div class="container py-3">
        <h1 class="text-center">Pagina no Encontrada!!</h1>
    </div>
{% endblock %}