{% extends 'layout.html' %}

{% block title %}Inicio de Sesión{% endblock %}


{% block body %}
    <div class="container py-3">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% include 'fragmentos/_alert.html' %}
                <h3>Login</h3>
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    <div>
                        {{ form.nombre(placeholder="Nombre") }}
                    </div>
                    <br>
                    <div>
                        {{ form.password(placeholder="Contraseña") }}
                    </div>
                    <br>
                    <div>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}